<a href="https://colab.research.google.com/github/ebercab7/fcomputacional/blob/main/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Clima**

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/ebercab7/fcomputacional/main/Actividad1/8270%20diario.txt"

# Se nombran las columnas del df
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']

# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último (skiprows), afirmamos que no nay encabezado (header=None)
# Se procesan los datos utilizando Python, engine='python' 

df_clima = pd.read_csv(url, names=my_cols, encoding="cp1251", sep="\s+", header=None, skiprows=19, skipfooter=1, engine="python")
df_clima

            Fecha Precip  Evap  Tmax  Tmin
0      01/02/1920      0  Nulo    14  Nulo
1      02/02/1920      0  Nulo    10    -4
2      03/02/1920      0  Nulo    18  Nulo
3      04/02/1920      0  Nulo    14     6
4      05/02/1920      0  Nulo     7  Nulo
...           ...    ...   ...   ...   ...
31956  27/12/2012      0   4.3    14    -2
31957  28/12/2012      0   4.4    17    -3
31958  29/12/2012      0   5.4    11    -4
31959  30/12/2012      0   4.5    12    -2
31960  31/12/2012      0  Nulo  Nulo  Nulo

[31961 rows x 5 columns]

In [3]:
# Se observa el encabezado y el final de los datos
print(df_clima.head())
print(df_clima.tail())

        Fecha Precip  Evap Tmax  Tmin
0  01/02/1920      0  Nulo   14  Nulo
1  02/02/1920      0  Nulo   10    -4
2  03/02/1920      0  Nulo   18  Nulo
3  04/02/1920      0  Nulo   14     6
4  05/02/1920      0  Nulo    7  Nulo
            Fecha Precip  Evap  Tmax  Tmin
31956  27/12/2012      0   4.3    14    -2
31957  28/12/2012      0   4.4    17    -3
31958  29/12/2012      0   5.4    11    -4
31959  30/12/2012      0   4.5    12    -2
31960  31/12/2012      0  Nulo  Nulo  Nulo

In [4]:
# Se observa la dimensión de los datos
df_clima.shape

# Se observa la info de los datos
df_clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31961 entries, 0 to 31960
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   31961 non-null  object
 1   Precip  31961 non-null  object
 2   Evap    31961 non-null  object
 3   Tmax    31961 non-null  object
 4   Tmin    31961 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB

In [5]:
# Se realiza una copia con la que trabajar para no perder el origigi
df_c=df_clima.copy()
df_c.head()

        Fecha Precip  Evap Tmax  Tmin
0  01/02/1920      0  Nulo   14  Nulo
1  02/02/1920      0  Nulo   10    -4
2  03/02/1920      0  Nulo   18  Nulo
3  04/02/1920      0  Nulo   14     6
4  05/02/1920      0  Nulo    7  Nulo

In [6]:
# Reemplazamos los textos 'Nulo' por espacio en blanco ''
str_Nulo = 'Nulo'
df_c = df_c.replace(to_replace=str_Nulo, value='', regex=True)
df_c.head()

        Fecha Precip Evap Tmax Tmin
0  01/02/1920      0        14
1  02/02/1920      0        10   -4
2  03/02/1920      0        18
3  04/02/1920      0        14    6
4  05/02/1920      0         7

In [7]:
# Se imprime la info actualizada del df
df_c.info()
print(df_c.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31961 entries, 0 to 31960
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   31961 non-null  object
 1   Precip  31961 non-null  object
 2   Evap    31961 non-null  object
 3   Tmax    31961 non-null  object
 4   Tmin    31961 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB
        Fecha Precip Evap Tmax Tmin
0  01/02/1920      0        14
1  02/02/1920      0        10   -4
2  03/02/1920      0        18
3  04/02/1920      0        14    6
4  05/02/1920      0         7

In [8]:
# Se procede a convertir los datos del clima a valores numericos para poder trabajar los datos
columnas = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in columnas:
  df_c[cols] = pd.to_numeric(df_c[cols], errors="coerce")

df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31961 entries, 0 to 31960
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   31961 non-null  object
 1   Precip  31947 non-null  float64
 2   Evap    9582 non-null   float64
 3   Tmax    12080 non-null  float64
 4   Tmin    11601 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.2+ MB

In [9]:
# Se observa que datos faltan
df_c.isnull().sum()

Fecha         0
Precip       14
Evap      22379
Tmax      19881
Tmin      20360
dtype: int64

In [10]:
print(df_c.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/02/1920     0.0   NaN  14.0   NaN
1  02/02/1920     0.0   NaN  10.0  -4.0
2  03/02/1920     0.0   NaN  18.0   NaN
3  04/02/1920     0.0   NaN  14.0   6.0
4  05/02/1920     0.0   NaN   7.0   NaN

In [11]:
# Breve analísis estadistico redondeado a 2 cifras.
df_c.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  31947.00  9582.00  12080.00  11601.00
mean       0.36     5.99     24.15      6.49
std        2.68     3.11      7.10      6.38
min        0.00     0.00      0.00    -11.00
25%        0.00     3.50     19.00      2.00
50%        0.00     5.40     25.00      6.00
75%        0.00     8.10     30.00     12.00
max       98.50    18.00     42.50     26.00

In [15]:
# Nueva copia de seguridad
df_c1 = df_c.copy()
df_c1

            Fecha  Precip  Evap  Tmax  Tmin
0      01/02/1920     0.0   NaN  14.0   NaN
1      02/02/1920     0.0   NaN  10.0  -4.0
2      03/02/1920     0.0   NaN  18.0   NaN
3      04/02/1920     0.0   NaN  14.0   6.0
4      05/02/1920     0.0   NaN   7.0   NaN
...           ...     ...   ...   ...   ...
31956  27/12/2012     0.0   4.3  14.0  -2.0
31957  28/12/2012     0.0   4.4  17.0  -3.0
31958  29/12/2012     0.0   5.4  11.0  -4.0
31959  30/12/2012     0.0   4.5  12.0  -2.0
31960  31/12/2012     0.0   NaN   NaN   NaN

[31961 rows x 5 columns]

In [18]:
df_c1["Fecha"] = pd.to_datetime(df_c1["Fecha"], dayfirst=True ).copy()
print(df_c1.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1920-02-01     0.0   NaN  14.0   NaN
1 1920-02-02     0.0   NaN  10.0  -4.0
2 1920-02-03     0.0   NaN  18.0   NaN
3 1920-02-04     0.0   NaN  14.0   6.0
4 1920-02-05     0.0   NaN   7.0   NaN

In [21]:
# Se añaden las columnas de año y mes ademas de la de fecha
df_c1["Año"] = df_c1["Fecha"].dt.year
df_c1["Mes"] = df_c1["Fecha"].dt.month
df_c1
#df_c1.info()

           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0     1920-02-01     0.0   NaN  14.0   NaN  1920    2
1     1920-02-02     0.0   NaN  10.0  -4.0  1920    2
2     1920-02-03     0.0   NaN  18.0   NaN  1920    2
3     1920-02-04     0.0   NaN  14.0   6.0  1920    2
4     1920-02-05     0.0   NaN   7.0   NaN  1920    2
...          ...     ...   ...   ...   ...   ...  ...
31956 2012-12-27     0.0   4.3  14.0  -2.0  2012   12
31957 2012-12-28     0.0   4.4  17.0  -3.0  2012   12
31958 2012-12-29     0.0   5.4  11.0  -4.0  2012   12
31959 2012-12-30     0.0   4.5  12.0  -2.0  2012   12
31960 2012-12-31     0.0   NaN   NaN   NaN  2012   12

[31961 rows x 7 columns]

In [23]:
# Para verificar
print(df_c1.head())
print(df_c1.tail())
print(df_c1.dtypes)

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1920-02-01     0.0   NaN  14.0   NaN  1920    2
1 1920-02-02     0.0   NaN  10.0  -4.0  1920    2
2 1920-02-03     0.0   NaN  18.0   NaN  1920    2
3 1920-02-04     0.0   NaN  14.0   6.0  1920    2
4 1920-02-05     0.0   NaN   7.0   NaN  1920    2
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
31956 2012-12-27     0.0   4.3  14.0  -2.0  2012   12
31957 2012-12-28     0.0   4.4  17.0  -3.0  2012   12
31958 2012-12-29     0.0   5.4  11.0  -4.0  2012   12
31959 2012-12-30     0.0   4.5  12.0  -2.0  2012   12
31960 2012-12-31     0.0   NaN   NaN   NaN  2012   12
Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object